.home {
    max-width: 1440px;
    margin: 0 auto;
    overflow: scroll;
    height: calc(100% - 80px);
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home .card {
    max-width: 420px;
    /* height: 500px; */
    min-width: 290px;
    width: 95%;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home .card:hover {
    box-shadow: 0.1px 0.1px 18px 5px #00f9ff4d;
}
